<div class="container">
    <ol class="breadcrumb">
        <li><a href="/users">Users</a></li>
        <li class="active">{{user.name || "New"}}</li>
    </ol>
    <div class="row">
        <div class="col-md-8">
            <form name="userForm" ng-submit="saveChanges()" class="form">
                <div class="form-group">
                    <label>Name</label>
                    <input type="string" placeholder="" class="form-control" ng-model="user.name">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="string" placeholder="" class="form-control" ng-model="user.email">
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" ng-disabled="!userForm.$valid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
